.section-2 {
  display: flex;
  justify-content: center;
  background-color: var(--bg-color);
  width: 100vw;
  height: 100vh;
  font-family: "Nunito", sans-serif;
  color:  var(--text-color);
}
.section-2 section {
  width: 100%;
  height: 100%;
}
.section-2 section div:first-child div:first-child p {
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}
.section-2 section div:first-child div:first-child p span {
  font-size: 25px;
  font-weight: 700;
}
.section-2 section div:first-child div:first-child div {
  padding-right: 25px;
  max-width: 350px;
  width: auto;
}
.section-2 section div:first-child div:last-child img {
  width: 350px;
  height: auto;
}
.section-2 section div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-2 section div:last-child nav ul {
  padding: 0px;
  display: flex;
  flex-direction: row;
}
.section-2 section div:last-child nav ul li {
  list-style-type: none;
  margin-right: 25px;
  font-weight: 300;
  text-transform: uppercase;
}
.section-2 section div:last-child nav ul li:last-child {
  margin-right: 0;
}
@media screen and (max-width: 750px) {
  .section-2 {
    background-color: var(--bg-color);
    width: 100vw;
    height: 100vh;
    font-family: "Nunito", sans-serif;
    color:  var(--text-color);
  }
  .section-2 section {
    width: 100%;
    height: 100%;
  }
  .section-2 section div:first-child {
    display: flex;
    flex-direction: row;
  }
  .section-2 section div:first-child div:first-child p {
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
  }
  .section-2 section div:first-child div:first-child p span {
    font-size: 25px;
    font-weight: 700;
  }
  .section-2 section div:first-child div:first-child div {
    padding-right: 25px;
    padding-left: 15px;
    max-width: 350px;
    width: auto;
  }
  .section-2 section div:first-child div:last-child img {
    width: 250px;
    height: auto;
  }
  .section-2 section div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section-2 section div:last-child nav ul {
    padding: 0px;
    display: flex;
    flex-direction: row;
  }
  .section-2 section div:last-child nav ul li {
    list-style-type: none;
    margin-right: 25px;
    font-weight: 300;
    text-transform: uppercase;
  }
  .section-2 section div:last-child nav ul li:last-child {
    margin-right: 0;
  }
  .section-2 section div:last-child .slide img {
    width: auto;
    height: auto;
  }
}
@media screen and (max-width: 425px) {
  .section-2 {
    background-color: var(--bg-color);
    width: 100vw;
    height: 100vh;
    font-family: "Nunito", sans-serif;
    color:  var(--text-color);
  }
  .section-2 section {
    width: 100%;
    height: 100%;
  }
  .section-2 section div:first-child {
    display: flex;
    flex-direction: column;
  }
  .section-2 section div:first-child div:first-child {
    text-align: justify;
  }
  .section-2 section div:first-child div:first-child p {
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
  }
  .section-2 section div:first-child div:first-child p span {
    font-size: 25px;
    font-weight: 700;
  }
  .section-2 section div:first-child div:first-child div {
    padding-right: 25px;
    max-width: 350px;
    width: auto;
  }
  .section-2 section div:first-child div:last-child img {
    width: 250px;
    height: auto;
  }
  .section-2 section div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section-2 section div:last-child nav ul {
    padding: 0px;
    display: flex;
    flex-direction: row;
  }
  .section-2 section div:last-child nav ul li {
    list-style-type: none;
    margin-right: 25px;
    font-weight: 300;
    text-transform: uppercase;
  }
  .section-2 section div:last-child nav ul li:last-child {
    margin-right: 0;
  }
  .section-2 section div:last-child .slide img {
    width: auto;
    height: 250px;
  }
}

/*# sourceMappingURL=section-2.css.map */
